# PostgreSQL
PG_USER=postgres
PG_PASSWORD=postgres

# MinIO
ACCESS_KEY=minioadmin
SECRET_KEY=minioadmin

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Mail (optional — for notification service)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=